.button {
  display: inline-block;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  text-transform: none;
  padding: .75rem 1.25rem;
  margin: 0 0 .5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  margin-right: 5px;
}

.basic-button {
  border: 1px solid #cdcdcd;
  color: #4e4e4e; 
}

.basic-button:hover,
.basic-button:active {
  color: #4e4e4e;
  border: 1px solid #818181;
}

table {
  margin-left: 28px;
}

th, td {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: center;
}

td > img {
  height: 100px; 
  width: 70px;
}